$background-color: #0B0B0C;
$surface-color: #15151A;
$accent-color: #E8B647;
$tag-color: #E5354A;
$first-text-color: #FFFFFF;
$second-text-color: #B5B5B5;
$third-text-color: #858586;
$border-color: #242425;