@use '../abstracts/fonts.scss';
@use '../abstracts/breakpoints.scss';

@mixin title {
    font-family: fonts.$font-secondary;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;

    @include breakpoints.md {
        font-size: 3.75rem;
    }
}

@mixin section-title {
    font-family: fonts.$font-primary;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoints.md {
        font-size: 2rem;
    }
}

@mixin subtitle {
    font-family: fonts.$font-primary;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
}

@mixin card-title {
    font-family: fonts.$font-secondary;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
}

@mixin body-text {
    font-family: fonts.$font-secondary;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;

    @include breakpoints.md {
        font-size: 1rem;
    }
}

@mixin link-text {
    font-family: fonts.$font-primary;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoints.lg {
        font-size: 1.125rem;
    }
}

@mixin button-text {
    font-family: fonts.$font-primary;
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 1.5;

    @include breakpoints.md {
        font-size: 0.75rem;
    }
}

@mixin tag-text {
    font-family: fonts.$font-secondary;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1.5;
}