@use '../abstracts/colors.scss';
@use '../abstracts/typography.scss';

body {
    background-color: colors.$background-color;
    color: colors.$first-text-color;
}

button {
    background: none;
    border: none;
    text-align: left;
}

a {
  text-decoration: none;

    &:visited {
        color: colors.$first-text-color;
    }
}