@use '../abstracts/colors.scss';
@use '../abstracts/typography.scss';

body {
    background-color: colors.$background-color;
    color: colors.$first-text-color;
}

button {
    @include typography.button-text;
}

a {
  text-decoration: none;
}